@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');
body {
  margin: 0;
  font-family: "Nunito Sans", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.979), rgb(9, 9, 24));
}